html,
body {
    /*  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    background: #f7f7f7;
}

* ::-webkit-scrollbar {
    width: 10px;
}

* ::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.2);
}

* ::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
}

/* class for selected element */
[data-selected] {
    /*  outline: 4px dashed #34343e;*/
    outline: 4px dotted #34343e;
}

/* color picker */
[data-picker] .sp-container {
    background-color: transparent;
    border: none;
}

/* vector */
.vector-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    /*  text-align: center;*/
}

.vector {
    transform-origin: top left;
    overflow: auto;
}

.vector-container canvas {
    border: 1px solid rgb(247, 239, 239);
    box-shadow: 0 0 12px 0 #1a1a1a1a;
    transform-origin: top left;
}

/* contentEditable */
[contenteditable]:empty:before {
    content: attr(data-placeholder);
    display: inline-block;
    color: grey;
}

/* MDL - Material Design Lite */
.mdl-layout {
    position: relative;
    z-index: 1;
    overflow: hidden;
}

/* Header */
.mdl-layout__header {
    background-color: transparent !important;
    box-shadow: 0 0 0 transparent !important;
}

.mdl-layout__header .material-icons,
.mdl-layout__header .fa {
    color: #9d9d9d !important;
    /*  color: #575757!important;*/
}

.mdl-layout__header .mdl-menu__item .material-icons {
    color: #575757 !important;
}

.mdl-navigation .ripple {
    position: relative;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
}

.mdl-navigation .ripple:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    background-image: radial-gradient(circle, #000 10%, transparent 10.01%);
    background-repeat: no-repeat;
    background-position: 50%;
    transform: scale(10, 10);
    opacity: 0;
    transition: transform .5s, opacity 1s;
}

.mdl-navigation .ripple:active:after {
    transform: scale(0, 0);
    opacity: .3;
    transition: 0s;
}

/* Zoom Tool Icon */
.zoomicon {
    position: absolute;
    top: 0;
    margin: 3em;
    padding: 0;
    border: 0;
    background: transparent;
    transform: scale(3);
    user-select: none;
}

.zoomin {
    left: 0;
}

.zoomout,
.zoominview {
    right: 0;
}

.zoominview {
    margin-top: 9em;
}

/* horizontal scrollbar for smaller screens */
.mdl-layout__header-row .mdl-navigation {
    max-width: 100%;
    white-space: nowrap;
    overflow-x: auto;
}

.mdl-layout__header-row .mdl-navigation .mdl-button {
    white-space: nowrap;
    margin: 0 .5em;
}

/* Header menu dropdown */
.mdl-menu a {
    text-decoration: none;
    color: #000;
}

.mdl-menu .mdl-menu__item .material-icons {
    display: inline-block;
    position: relative;
    top: 7px;
    margin: 0 5px 0 -5px;
}

.mdl-menu .mdl-menu__item span {
    display: inline-block;
}

/* Project Settings */
.projectSettings {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    bottom: 0;
    right: 0;
    z-index: 2;
}

.projectSettings>div {
    background: transparent;
    border-radius: 1em;
    padding: 1em 2em;
}

/* global classes */
.ib {
    display: inline-block;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.hide {
    display: none;
}

.pointer {
    cursor: pointer;
}

.tl {
    text-align: left;
}

.tc {
    text-align: center;
}

.tr {
    text-align: right;
}

.w100p {
    width: 100%;
}

.purple {
    color: #551a8b !important;
}

.move {
    cursor: move;
}

.nomar {
    margin: 0;
}

.nomart {
    margin-top: 0;
}

.nomarb {
    margin-bottom: 0;
}

.divfill {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}